/*  селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */
  p mark {
    color: rgb(255,0,0); /* см справочник CSS color code & names. Формат rgb, RRGGBB, rgba - где А - прозрачность*/
 } 
 h1, h2, h3 {
   text-align: center;
 }
 .first { /* точка фёст - обозначение класса, изменится именно то место, кот. указано в НТМЛ, а не весь подобный текст */
    color: blue;
    font-size: 16px;
    
 }
 #second {
    color: pink;
 }
    /* second прописали в коде */
  .marked {
    color: yellow;
  }
  
  .box {
     background-color: red   ;
  }