/*  селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */
  p mark {
    color: rgb(255,0,0); /* см справочник CSS color code & names. Формат rgb, RRGGBB, rgba - где А - прозрачность*/
 } 
 h1, h2, h3 {
   text-align: center;
 }
 .first {
  margin-top: 150px; /* точка фёст - обозначение класса, изменится именно то место, кот. указано в НТМЛ, а не весь подобный текст */
    color: blue;
    font-size: 16px;
    
 }
 #second {
    color: pink;
 }
    /* second прописали в коде */
  .marked {
    color: yellow;
  }
  
  .box {
    width: 300px;/* ширина */
   min-height: 300px;/* высота блока, с приставкой min -это минимальная высота блока, чтобы контент в этом блоке, н-р, текст, весь уместился в блоке, не выходил за его пределы */
     background-color: red;
     border-color:black;/*border- это линия по перниметру контента, рамка */
     border-width: 5px;
     border-style: solid; /* это черная линия. как карандашом рамка */
     border-top-color: blue; /* только верхняя граница рамки будет синяя */
     border: 5px solid black;/* ширину, стиль и цвет можно задаать сразу в одном теге. Важен порядок: код читается сверху вниз, значит, верхняя линия рамки не будет голубой, а будет черной. */
     padding: 50px 20px;/* padding - это расст-е от края контекста до рамки, типа поля с 4ех сторон. Можно задать разную ширину отступа с 4ех сторон и тогда пишем сразу, н-р, 50рх 20рх 50рх 20рх отступ идет по часовой стрелке, начиная с верхнего отступа. Если пишем 50рх 20рх - это значит по вертикали ( сверху и снизу) отступ будет 50, по горизонтали (справа и слева) 20 */
     margin: 20px;/* это внешний отступ */

  }